[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    invalid-name,
    line-too-long,
    trailing-whitespace,
    logging-fstring-interpolation,
    broad-exception-caught,
    unused-variable,
    f-string-without-interpolation
